<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Messenger</title>
    <style>
        body { background-color: black; }
        .glowing { text-shadow: 0 0 20px cyan, 0 0 25px cyan, 0 0 30px cyan; color: cyan; }
        .green { color: rgb(57, 255, 20); text-shadow: 0 0 10px rgba(0, 255, 0, 0.8), 0 0 30px rgba(0, 255, 0, 0.4); }
        .red { color: rgb(247, 33, 25); text-shadow: 0 0 10px rgba(255, 0, 0, 1), 0 0 30px rgba(255, 0, 0, 1); }
        .blue{ color: rgb(57, 20, 255); text-shadow: 0 0 10px rgba(0, 0, 255, 0.8), 0 0 30px rgba(0, 0, 255, 0.4); }
    </style>
</head>
<body>
    <h1 class="glowing"></h1>
    <h2 class="glowing">Admin page</h2>
    <h3 class="green">Users and passwords:</h3>
    {% for i in n %}
        <p class="green">{{ i[0] }} = {{ i[1] }}</p>
    {% endfor %}

    <form method="post">
        <h2 class="glowing">Send Message</h2>
        <label class="green">Recipient:</label>
        <input name="user" maxlength="109" required>
        <label class="green">Message:</label>
        <input name="cont" maxlength="109" required>
        <button type="submit">Send</button>
    </form>

    <form method="post">
        <h2 class="glowing">Check Messages</h2>
        <label class="green">From User:</label>
        <input name="check_user" maxlength="109" required>
        <button type="submit">Check</button>
    </form>
    {% if e2 %}
        <p class="red">{{ e2 }}</p>
    {% endif %}

    <form method="post">
        <h2 class="glowing">Change Username/Password</h2>
        <label class="green">Target User:</label>
        <input name="target" required>
        <label class="green">New Username:</label>
        <input name="new_user">
        <label class="green">New Password:</label>
        <input name="new_pass">
        <button type="submit">Change</button>
    </form>

    <h2 class="glowing">Messages:</h2>
    {% for message in messages %}
        {% if message[1][2] == "r" %}
            <p class="green">{{ message[0] + 1 }}. {{ message[1][0] }}</p>
        {% else %}
            <p class="blue">{{ message[0] + 1 }}. {{ message[1][0] }}</p>
        {% endif %}
    {% endfor %}

    <form method="post" action="/relogin"><button type="submit">Logout</button></form>
</body>
</html>
